body {

    background-color: #483D32;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recuadro-login {
    width: 50%;
    height: 60%;
    background-color: #F4F1E2;
    border-radius: 20px;
}

.container-form {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-input {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}