body {
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.6px;
    background-color: #0C090D;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.recuadro-login {
    width: 50%;
    height: 60%;
    background-color: #F4B02A;
    border-radius: 20px;
    display: flex;
    box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
}


.container-form {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


.container-input {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


label {
    color: white;
    margin-bottom: 5px;
width: 70%;
}


button {
    color: white;
    background-color: #CA2E55;
    font-family: 'Quicksand';
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-top: 20px;
    width: 75%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
}


input {
 width: 75%;
 height: 35px;
 border-radius: 20px;
 border: none;
 padding: 0 20px;
}


img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: scale-down;
    object-position: bottom;
}