
body {
 background-color: #0C090D;
 font-family: 'Quicksand';
 font-size: 17px;
 font-weight: 400;
}
#captchaBackground {
 height: 220px;
 width: 250px;
 background-color: #F4B02A;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 border-radius: 15px;
}
#captchaHeading {
 color: white;
}
#captcha {
 height: 80%;
 width: 80%;
 font-size: 30px;
 letter-spacing: 3px;
 margin: auto;
 display: block;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
}
.center {
 display: flex;
 flex-direction: column;
 align-items: center;
}
#submitButton {
 margin-top: 2em;
 margin-bottom: 2em;
 background-color: #CA2E55;
 border: 0px;
 font-weight: bold;
 font-family: 'Quicksand';
 border-radius: 15px;
 margin-top: 20px;
}
#refreshButton {
 background-color: #CA2E55;
 border: 0px;
 font-weight: bold;
 font-family: 'Quicksand';
 border-radius: 15px;
 margin-top: 20px;
}
#textBox {
 height: 25px;
}
.incorrectCaptcha {
 color: #000000;
}
.correctCaptcha {
 color: #000000;
}
 input {
     border-radius: 20px;
     border: none;
     align-items: center;
     justify-content: center;
 }